
<HTML>
<HEAD>
</HEAD>
<BODY>

<H1>Weekly Report</H1>

<table border=1>
<tr>
<th>obsid</th>
<th>start</th>
<th>mica_url</th>
<th>dash_url</th>
<th>t_ccd</th>
<th>one shot before</th>
<th>one shot after</th>
<th>p2</th>
<th>n_acq</th>
<th>guide_count</th>
<th>n_good_guide</th>
<th>acq</th>
<th>guide</th>
<th>warns</th>
{% for row in metrics %}
<tr>
<td>{{ row['obsid'] }}</td>
<td align=center>{{ row['start'] }}</td>
<td><a href="{{ row['mica_url'] }}">mica</a></td>
<td><a href="{{ row['dash_url'] }}">dash</a></td>
<td align=center>{{ row['t_ccd'] }}</td>
<td align=center>{{ row['one_shot_before'] }}</td>
<td align=center>{{ row['one_shot_after'] }}</td>
<td align=center>{{ row['p2'] }}</td>
<td align=center>{{ row['n_acq'] }}</td>
<td align=center>{{ row['guide_count'] }}</td>
<td align=center>{{ row['n_good_guide'] }}</td>
{% if row['n_acq'] == '-1' -%}
<td>---</td>
{% else %}
<td><A HREF="{{ row['acq_url'] }}">ACQ</A></td>
{% endif -%}
{% if row['n_good_guide'] == '-1' -%}
<td>---</td>
{% else -%}
<td><A HREF="{{ row['guide_url'] }}">GUIDE</A></td>
{% endif %}
<td>{{ row['warns'] }}</td>
</tr>
{% endfor %}
</table>
